<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button type="button" mdbBtn color="info" class="float-right" mdbWavesEffect
      (click)="ajouterCandidat()"
    >Ajouter candidat</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-12">

    <section class="pb-5 pl-5 float-right">
      
      <div class="col-lg-5 my-4">
        
        <mdb-card style="width: 400px;">
          <mdb-card-body>
            <p class="h1 text-center">
              Election
            </p>
            <br>
            
            <form #form="ngForm">

              <div class="btn-group" mdbDropdown>
                <button type="button" mdbBtn color="light" class="waves-light" mdbWavesEffect>{{categorie}}</button>
                <button type="button" mdbDropdownToggle mdbBtn color="light"
                  class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
                <div class="dropdown-menu">
                  <a *ngFor="let cat of categorieService.categories" class="dropdown-item"
                    (click)="setCategorie(cat._id, cat.nom)">{{cat.nom}}</a>

                </div>
              </div>

              <div class="md-form">
                <mdb-icon fas icon="file-signature" class="grey-text"></mdb-icon>
                <input required mdbValidate mdbInput type="text" id="form1" class="form-control"
                  [(ngModel)]="election.nom" #nom="ngModel" name="nom">
                <label for="form1">Nom</label>
                <mdb-error *ngIf="nom.errors?.required && nom.touched">Champ obligatoire</mdb-error>
                <mdb-success *ngIf="nom.valid && (nom.dirty || nom.touched)"></mdb-success>
              </div>

              <div class="md-form">
                <mdb-icon fas icon="calendar-alt" class="grey-text"></mdb-icon>
                <input required mdbValidate mdbInput type="date" id="form3" class="form-control mt-5"
                  [(ngModel)]="election.date_debut" #date_debut="ngModel" name="date_debut">
                <label for="form3">Date Début</label>
                <mdb-error *ngIf="date_debut.errors?.required && date_debut.touched">Champ obligatoire</mdb-error>
                <mdb-success *ngIf="date_debut.valid && (date_debut.dirty || date_debut.touched)"></mdb-success>
              </div>

              <div class="md-form">
                <mdb-icon fas icon="calendar-alt" class="grey-text"></mdb-icon>
                <input required mdbValidate mdbInput type="date" id="form4" class="form-control mt-5"
                  [(ngModel)]="election.date_fin" #date_fin="ngModel" name="date_fin">
                <label for="form4">Date Fin</label>
                <mdb-error *ngIf="date_fin.errors?.required && date_fin.touched">Champ obligatoire</mdb-error>
                <mdb-success *ngIf="date_fin.valid && (date_fin.dirty || date_fin.touched)"></mdb-success>
              </div>


              <div class="text-center">
                <button [disabled]="form.invalid" mdbBtn color="light-blue" class="waves-effect" mdbWavesEffect
                  (click)="updateElection()"
                >
                  <mdb-icon fas icon="edit"></mdb-icon>&nbsp;&nbsp;Editer
                </button>
              </div>

            </form>
          </mdb-card-body>
        </mdb-card>
        
      </div>
      
    </section>
  </div>

  <div class="col-md-6 col-lg-6 col-sm-12">
    <p class="pt-5 ml-5" *ngIf="election.candidat.length === 0"><i>Pas de candidats pour cette élection!</i></p>
    <section *ngFor="let candidat of election.candidat" class="pb-5 pl-5 float-right">
      <div class="col-lg-5 my-4">
        <mdb-card class="mb-5" style="width: 350px; height: 250px;">
          <mdb-card-body>
            <p class="h3 text-center">
              Candidat
              <button type="button" class="close" aria-label="Close" (click)="deleteCandidat(candidat._id)">
                <span aria-hidden="true">×</span>
              </button>
                  
            </p>
            <div *ngIf="candidat.image !== ''" class="text-center">
              <img style="width: 80px; height: 80px;" [src]="img_src+'/election/file/'+election._id+candidat._id" class="rounded"
                alt="...">
            </div>
            <br>
            
            <form #form="ngForm">
              <div class="md-form">
                <mdb-icon fas icon="file-signature" class="grey-text"></mdb-icon>
                <input (change)="updateNomCandidat(candidat)" mdbInput type="text" id="form5" class="form-control" [(ngModel)]="candidat.nom" name="nom">
                <label for="form5">Nom</label>
              </div>

              <div class="md-form">
                <mdb-icon far icon="image" class="grey-text"></mdb-icon>
                <input type="file" class="form-control-file" (change)="uploadFile($event, candidat._id)">
              </div>
            </form>
          </mdb-card-body>
        </mdb-card>
        
      </div>
    
    </section>

  </div>
</div>
