.side-bar{
    background-color: #ff4444;
    color: #fff;
    top: 55px;
    left: 0;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 23;
    padding-top: 50px;
}

.width{
    width: 100%;
    margin-bottom: 30px;
}

.dropdown-footer{
    text-align: center;
}